.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  margin-bottom: 150px;
}

.footer {
  list-style: none;
  font-size: 30px;
  font-weight: regular;
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.footer li {
  list-style: none;
  justify-content: space-between;
  flex: 1;
}

.footer li a {
  color: var(--color-cta-icon-normal);
  text-decoration: none;
}

.footer li a:hover,
.footer li a:active {
  color: var(--color-cta-icon-active);
}

.seeMore {
  font-size: 20px;
  font-weight: regular;
  color: var(--color-cta-icon-normal);
  position: fixed;
  bottom: 20px;
}
