.wrapperSection {
  composes: wrapperSection from '../styles/section-base.module.css';
}

.section {
  composes: section from '../styles/section-base.module.css';
}

.sectionScene {
  composes: sectionScene from '../styles/section-base.module.css';
}

.sectionTypographyLayer {
  composes: sectionTypographyLayer from '../styles/section-base.module.css';

  h2 {
    display: block;
    position: absolute;
    flex-direction: column;
    z-index: 100;
    left: 10vw;
  }

  p {
    display: block;
    position: absolute;
    flex-direction: column;
    z-index: 100;
    margin-right: 10vw;
    left: 10vw;
    top: 20vh;
  }
}

.sectionSpriteLayer {
  composes: sectionSpriteLayer from '../styles/section-base.module.css';

  .bubbleWrapper {
    width: 100%;
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .speechBubble {
      position: relative;
      background: #a59573;
      border-radius: 2vh;
      padding: 2px 5px 2px 2px;
      z-index: 20;
      margin-bottom: -5vh;
      margin-right: 5vw;

      .speechBubbleImage {
        object-fit: cover;
        object-position: center;
        border-radius: 2vh;
        width: 10vh;
        height: 10vh;
      }
    }

    .speechBubble:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-color: #a59573;
      border-bottom: 0;
      border-left: 0;
      margin-left: -10px;
      margin-bottom: -20px;
    }
  }

  .hometownImage {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-bottom: 10vh;
  }
}

.sectionBackgroundLayer {
  composes: sectionBackgroundLayer from '../styles/section-base.module.css';
}
