.wrapperSection {
  composes: wrapperSection from '../styles/section-base.module.css';
}

.section {
  composes: section from '../styles/section-base.module.css';
}

.sectionScene {
  composes: sectionScene from '../styles/section-base.module.css';
}

.sectionTypographyLayer {
  composes: sectionTypographyLayer from '../styles/section-base.module.css';

  h2 {
    display: block;
    z-index: 100;

    .workCompanyYahoo {
      display: inline-block;
      color: #8a2be2;
    }

    .workCompanyAlibaba {
      display: inline-block;
      color: #ff6a00;
    }

    pointer-events: none;
  }

  p {
    display: block;
    z-index: 100;
    color: var(--color-text-tertiary);
  }
}

.sectionSpriteLayer {
  composes: sectionSpriteLayer from '../styles/section-base.module.css';

  .workOfficeBackgroundWrapper {
    position: relative;
    width: min(60vw, 60vh);
    height: min(60vw, 60vh);
    margin-bottom: 10vh;

    .workImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    .workCompanyLogoYahoo {
      position: absolute;
      width: calc(216 / 1024 * 100%);
      height: calc(176 / 1024 * 100%);
      object-fit: contain;
      z-index: 2;
      pointer-events: none;
    }

    .workCompanyLogoAlibaba {
      position: absolute;
      width: calc(168 / 1024 * 100%);
      height: calc(180 / 1024 * 100%);
      object-fit: contain;
      z-index: 2;
      pointer-events: none;
    }
  }
}

.sectionBackgroundLayer {
  composes: sectionBackgroundLayer from '../styles/section-base.module.css';
}
