.wrapperSection {
  composes: wrapperSection from '../styles/section-base.module.css';
}

.section {
  composes: section from '../styles/section-base.module.css';
}

.sectionScene {
  composes: sectionScene from '../styles/section-base.module.css';
}

.sectionTypographyLayer {
  composes: sectionTypographyLayer from '../styles/section-base.module.css';

  h2 {
    display: block;
    z-index: 100;
    color: var(--color-text-primary);
    pointer-events: none;
  }

  p {
    display: block;
    z-index: 100;
    color: var(--color-text-tertiary);
  }
}

.sectionSpriteLayer {
  composes: sectionSpriteLayer from '../styles/section-base.module.css';

  .startupBackgroundWrapper {
    position: relative;
    width: min(60vw, 60vh);
    height: min(60vw, 60vh);
    margin-bottom: 10vh;
  }
}

.sectionBackgroundLayer {
  composes: sectionBackgroundLayer from '../styles/section-base.module.css';
}

.subtitle {
  display: inline-block;
}

.mobileInternet {
  color: #ff4012;
}

.quantTrading {
  color: #2e7d32;
}

.fintech {
  color: #5070e6;
}
