.wrapperSection {
  composes: wrapperSection from '../styles/section-base.module.css';
}

.section {
  composes: section from '../styles/section-base.module.css';
}

.sectionScene {
  composes: sectionScene from '../styles/section-base.module.css';
}

.sectionTypographyLayer {
  composes: sectionTypographyLayer from '../styles/section-base.module.css';

  h2 {
    display: block;
    z-index: 100;
    color: var(--color-text-primary);
    pointer-events: none;
  }

  p {
    display: block;
    z-index: 100;
    color: var(--color-text-tertiary);

    span {
      display: inline-block;
      text-wrap: wrap;
      break-words: true;
    }
  }
}

.sectionSpriteLayer {
  composes: sectionSpriteLayer from '../styles/section-base.module.css';

  .sakanaWidgetWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 50vh;
    margin-bottom: 10vh;
  }
}

.sectionBackgroundLayer {
  composes: sectionBackgroundLayer from '../styles/section-base.module.css';
  background-color: var(--color-surface-warm-light);
}
