:root {
  --color-brand-yellow: #f7ea48;
  --color-brand-blue: #004b87;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark-background: #222;
  --color-light-background: #f1f1f1;
  --color-logo-i-fill-color-on-light-background: var(--color-brand-blue);
  --color-logo-other-fill-color-on-light-background: #52504e;
  --color-logo-i-fill-color-on-dark-background: var(--color-brand-yellow);
  --color-logo-other-fill-color-on-dark-background: #ffffff;
  --color-cta-icon-normal: #3b3a39;
  --color-cta-icon-active: dimgray;

  --color-background: var(--color-light-background);
  --color-logo-i-fill-color: var(--color-logo-i-fill-color-on-light-background);
  --color-logo-other-fill-color: var(
    --color-logo-other-fill-color-on-light-background
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-dark-background);
    --color-logo-i-fill-color: var(
      --color-logo-i-fill-color-on-dark-background
    );
    --color-logo-other-fill-color: var(
      --color-logo-other-fill-color-on-dark-background
    );

    --color-cta-icon-normal: #eee;
    --color-cta-icon-active: #ccc;
  }
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}
